html {
    background: #ccc;
}

body {
    background: #f1f1f1;
    margin: 2em;
}

h1 {
    background: #333;
    border-bottom: .0625em solid #000;
    color: #fff;
    font: bold 1em Verdana, sans-serif;
    letter-spacing -.0625em;
    margin: 0 0 .5em 0;
    padding: .25em 1em;
}

h1 a { 
    color: #fff;
    text-decoration: none;
}

h2, h3 {
    font: bold .85em Verdana, sans-serif;
}

h3 {
    margin: 5px 0 10px 0;
}

#navigation {
    float: right;
    height: 20px;
}

#navigation li {
    float: left;
}

#navigation li a {
    background: #333;
    color: #fff;
    display: block;
    font: .75em sans-serif;
    margin: 0 .25em 0 0;
    padding: .25em;
    text-decoration: none;
}

#navigation li a:hover {
    background: #000;
}

#content-area {
    padding: 1em 1em;
}

.footer {
    border-top: 1px solid #ccc;
    font: .75em sans-serif;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    text-align: right;
}

textarea {
    font: .85em monospace;
    height: 30em;
    margin: 0 0 5px 0;
    width: 80%;
}

select {
    font: .75em Verdana, sans-serif;
    min-width: 10em;
    width: 15%;
}

#webpage { display: none }

button {
    background: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font: .85em Verdana, sans-serif;
}

button:hover {
    background: #000;
}

label {
    font: .75em Verdana, sans-serif;
}

p {
    font: .75em Verdana, sans-serif;
}

.content .text ul {
    margin-left: 15px;
    font: .75em Verdana, sans-serif;
}

.content .text ul li {
    list-style: circle;
}


p.notice {
    font-weight: bold;
}

.pagination {
    font: .75em Verdana, sans-serif;
    margin: 1em 0 0 0;
}

#paste .linenos {
    background: #333;
    color: #fff;
    padding: 0 5px 0 20px;
}

#paste div.code {
    background: #fff;
    padding: 5px;
}

#paste td.code {
    padding-left: 10px;
}

#paste div.syntax,
.paste_list pre.syntax {
    background: #fff;
}

.quick {
    background: #fff;
    margin: 10px 0;
    padding: 5px;
}

a {
    color: #333;
}

.paste_list {
    margin: 10px 0 0 0;
}

.paste_list li {
    background: #fff;
    margin: 0 0 5px 0;
    padding: 5px;
}

.paste_list p {
    margin: 0 0 5px 0;
}

.syntax {
    background: #fff;
}


div.diff-table {
    background: white;
}

div.diff-table div.diffinfo {
    background: #CBD8DB;
    color: #111;
    padding: 5px;
}

div.diff-table div.meta {
    background: #CBD8DB;
    color: #111;
    padding: 5px;
}

div.diff-table div.meta .old {
    font-size: 12px;
}

div.diff-table div.meta .new {
    padding-top: 4px;
}

div.diff-table div.meta span.filename {
}

div.diff-table div.meta span.revision {
    color: #557F8A;
    font-size: 0.8em;
}

div.diff-table pre.header {
    background-color: #557F8A;
    color: white;
    padding: 5px 10px!important;
}

div.diff-table table.diff {
    border: none;
}

div.diff-table table.diff td.code {
    border-right: none;
}

table.diff {
    width: 100%;
    border: 2px solid #ccc;
    border-collapse: collapse;
    empty-cells: show;
    margin: 0;
}

table.diff th.old_rev,
table.diff th.new_rev {
    width: 3em;
}

table.diff tr.line th.old_rev,
table.diff tr.line th.new_rev {
    padding: 0.2em 0.5em 0.2em 0;
    text-align: right;
    font-weight: normal;
    font-size: 0.8em;
    background-color: #eee;
    color: #444;
    border: 1px solid #ccc;
    vertical-align: top;
}

table.diff tr.ellipsis th {
    border: 1px solid #ccc;
    background-color: #dfdfdf;
}

table.diff tr.line td.code {
    padding: 0.1em 0.4em 0.1em 0.4em;
    font-family: monospace;
    font-size: 13px;
    border: 1px solid #ddd;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
}

table.diff tr.add td.code {
    background-color: #dfd;
}

table.diff tr.del td.code {
    background-color: #fcc;
}

table.diff tr.add td.code ins {
    background-color: #9e9;
    text-decoration: none;
}

table.diff tr.del td.code del {
    background-color: #e99;
    text-decoration: none;
}