html {
    background: #ccc;
}

body {
    background: #f1f1f1;
    margin: 2em;
}

h1 {
    background: #333;
    border-bottom: .0625em solid #000;
    color: #fff;
    font: bold 1em Verdana, sans-serif;
    letter-spacing -.0625em;
    margin: 0 0 .5em 0;
    padding: .25em 1em;
}

h1 a { 
    color: #fff;
    text-decoration: none;
}

h2, h3 {
    font: bold .85em Verdana, sans-serif;
}

h3 {
    margin: 5px 0 10px 0;
}

#navigation {
    float: right;
    height: 20px;
}

#navigation li {
    float: left;
}

#navigation li a {
    background: #333;
    color: #fff;
    display: block;
    font: .75em sans-serif;
    margin: 0 .25em 0 0;
    padding: .25em;
    text-decoration: none;
}

#navigation li a:hover {
    background: #000;
}

#content-area {
    padding: 1em 1em;
}

.footer {
    border-top: 1px solid #ccc;
    font: .75em sans-serif;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    text-align: right;
}

textarea {
    font: .85em monospace;
    height: 30em;
    margin: 0 0 5px 0;
    width: 80%;
}

select {
    font: .75em Verdana, sans-serif;
    min-width: 10em;
    width: 15%;
}

#webpage { display: none }

button {
    background: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font: .85em Verdana, sans-serif;
}

button:hover {
    background: #000;
}

label {
    font: .75em Verdana, sans-serif;
}

p {
    font: .75em Verdana, sans-serif;
}

.content .text ul {
    margin-left: 15px;
    font: .75em Verdana, sans-serif;
}

.content .text ul li {
    list-style: circle;
}


p.notice {
    font-weight: bold;
}

.pagination {
    font: .75em Verdana, sans-serif;
    margin: 1em 0 0 0;
}

#paste .linenos {
    background: #333;
    color: #fff;
    padding: 0 5px 0 20px;
}

#paste div.code {
    background: #fff;
    padding: 5px;
}

#paste td.code {
    padding-left: 10px;
}

#paste div.syntax,
.paste_list pre.syntax {
    background: #fff;
}

.quick {
    background: #fff;
    margin: 10px 0;
    padding: 5px;
}

a {
    color: #333;
}

.paste_list {
    margin: 10px 0 0 0;
}

.paste_list li {
    background: #fff;
    margin: 0 0 5px 0;
    padding: 5px;
}

.paste_list p {
    margin: 0 0 5px 0;
}

.syntax {
    background: #fff;
}
